.about-us {
  background-color: #fcfaef;

  &__inner {
    @include page-grid;
    @include content-padding-inline;

    padding-block: 48px;

    @include on-tablet {
      padding-block: 120px;
    }
  }

  &__title {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / 7;
    }

    @include on-desktop {
      grid-column: span 5;
    }
  }

  &__description {
    margin: 0;
    line-height: 140%;
  }

  &__img {
    width: 100%;
    height: 392px;
    object-fit: cover;
  }
}
