.main {
  background-color: #fff;

  &__content {
    display: grid;
    gap: 96px 20px;
    padding-block: 96px;

    grid-template-columns: repeat(2, 1fr);

    & > section {
      grid-column: 1 / -1;
    }

    @include on-tablet {
      padding-block: 120px;
      gap: 120px 24px;

      grid-template-columns: repeat(6, 1fr);
    }

    @include on-desktop {
      padding-block: 120px;
      row-gap: 120px;

      grid-template-columns: repeat(12, 1fr);
    }
  }
}
