$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$price-color: #1b2129;
$form-color: #f9f9f9;
$text-color: #7e7e83;
$btn-color: #fff;
$cont-color: #9393a3;
$btn-color-def: #f98921;
$btn-color-active: #010810;
$border-form-hover: #dbdbdb;
